.footer_user {
    background-color: #fff;
    list-style: none;
    display: flex;
    border-top: 1px solid #a7a7a7;
    align-items: center;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 0;
    width: 100vw;
    box-sizing: border-box;
    height: 60px;
    overflow: hidden;

    li {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: 400ms;
        height: 54px;
        width: 75px;
        border-radius: 8px;
        cursor: pointer;

        &.active, &:hover {
            background: #224870;

            img {
                filter: brightness(0) invert(1);
            } 

            p {
                color: #fff;
                font-size: 14px;
                font-weight: 600;
            }
        }

        p {
            color: #5e5858;
            font-size: 14px;
            font-weight: 600;
            margin: 0;
        }
    }
}
