.visu_error{
    // height: 100vh;
    // margin: auto;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: center;
}
.text_visuError{
    color: #5E5858;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
}

.button_error{
    border: none;
    border-radius: 10px;
    background: #224870;
    width: 290px;
    height: 45px;
    color: #F7FFF7;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px auto;
}