.button_read{border:none;border-radius:10px;width:290px;height:45px;font-family:Inter;font-size:20px;font-style:normal;font-weight:600;display:flex;align-items:center;justify-content:center;margin:30px auto}
