.tela_inicial{
    background-color: #07B2D9;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.telaInicial_img{
    width: 320px;
    height: 230px;
}
.text_title_TelaInicial{
    color: #F7FFF7;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 0px;
}
.text_TelaInicial{
    color: #F7FFF7;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}
.slick_telaInicial{
    .slick_next{
        background: #F7FFF7;
    }
    .slick_active{
        background: #AFD8E1;
    }
}
