form > div + div {
    margin-top: 15px;
}
.label_form_create{
    color: #1E1E1E;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
}
.cancel_button{
    width: 320px;
    height: 44px;
    border-radius: 8px;
    background: #fff;
    border: 1px solid #2D82B7;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:15px  auto;
    color: #1E1E1E;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}